spring:
  application:
    name: turbine-monitor
  
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/wind_turbine_db?createDatabaseIfNotExist=true
    username: winduser
    password: Pass@123
    driver-class-name: com.mysql.cj.jdbc.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          batch_size: 500
        order_inserts: true
        order_updates: true
        jdbc.batch_versioned_data: true

server:
  port: 8080

logging:
  level:
    com.wind.turbinemonitor: INFO
    org.springframework.web: INFO
    org.hibernate: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always